In [89]:
import pandas as pd
import numpy as np
import statsmodels.api as sm
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [90]:
df=pd.read_csv('Dataset 3- Exploratory Data Analysis.csv', index_col=0)

In [91]:
df.head()

,Salary_Average in $,Job_title,Company_name,Location,Job_Description,R_Skills,Java_Skills,SQL_Skills,Spark_Skills,Matlab_Skills,Tensorflow_Skills,NLP_Skills,Python_Skills,C++_Skills
0,23328.63,Apprentice Radiotherapy Engineer (Clinical Tec...,University Hospital Southampton NHS Foundation...,Southampton,This is an exciting opportunity to be an Appre...,0,0,0,0,0,0,0,0,0
1,62230.00,Machine Learning Engineer,Cyberlens Ltd.,London,Company: CyberLens Ltd (www.cyberlens.eu)\nLoc...,0,0,0,0,0,1,0,1,1
2,38100.00,Deep Learning Engineer (Signal Processing),Drone Defence,Retford,Are you a Deep Learning Engineer experienced w...,0,0,0,0,0,1,0,1,0
3,59055.00,Senior Machine Learning Engineer / Machine Lea...,Nucleome Therapeutics Ltd,Oxford,Job description\nWe are looking for machine le...,0,0,0,0,0,1,0,1,0
4,73025.00,Senior Software Engineer,WCKD RZR,London,Are you a highly motivated Senior Software Eng...,0,1,0,0,0,0,0,0,0

### get dummy data

In [92]:
df.columns

Index(['Salary_Average in $', 'Job_title', 'Company_name', 'Location',
       'Job_Description', 'R_Skills', 'Java_Skills', 'SQL_Skills',
       'Spark_Skills', 'Matlab_Skills', 'Tensorflow_Skills', 'NLP_Skills',
       'Python_Skills', 'C++_Skills'],
      dtype='object')

In [97]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 207 entries, 0 to 210
Data columns (total 14 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Salary_Average in $  207 non-null    float64
 1   Job_title            207 non-null    object
 2   Company_name         207 non-null    object
 3   Location             207 non-null    object
 4   Job_Description      207 non-null    object
 5   R_Skills             207 non-null    int64
 6   Java_Skills          207 non-null    int64
 7   SQL_Skills           207 non-null    int64
 8   Spark_Skills         207 non-null    int64
 9   Matlab_Skills        207 non-null    int64
 10  Tensorflow_Skills    207 non-null    int64
 11  NLP_Skills           207 non-null    int64
 12  Python_Skills        207 non-null    int64
 13  C++_Skills           207 non-null    int64
dtypes: float64(1), int64(9), object(4)
memory usage: 24.3+ KB

In [98]:
df_relevant_columns=df[['Salary_Average in $',  'Python_Skills', 'Location', 'Company_name',
                       'Java_Skills', 'SQL_Skills', 'Matlab_Skills','Tensorflow_Skills', 'NLP_Skills', 'C++_Skills', 'R_Skills',
                       'Spark_Skills']]

In [99]:
df_dummies=pd.get_dummies(df_relevant_columns, drop_first=True)

In [100]:
df_dummies

,Salary_Average in $,Python_Skills,Java_Skills,SQL_Skills,Matlab_Skills,Tensorflow_Skills,NLP_Skills,C++_Skills,R_Skills,Spark_Skills,...,Company_name_Venturi,Company_name_WCKD RZR,Company_name_We Are Thyme Limited,Company_name_Zebra Technical Recruitment,Company_name_ao.com,Company_name_articulate.xyz,Company_name_kdr Recruitment,Company_name_myfuturerole.com,Company_name_onezeero,Company_name_re&m
0,23328.63,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,62230.00,1,0,0,0,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,38100.00,1,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,59055.00,1,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,73025.00,0,1,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
206,63500.00,1,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
207,76200.00,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
208,69850.00,1,1,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
209,85725.00,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
210,79375.00,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [101]:
df_dummies.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 207 entries, 0 to 210
Columns: 144 entries, Salary_Average in $ to Company_name_re&m
dtypes: float64(1), int64(9), uint8(134)
memory usage: 44.9 KB

### train test split

In [102]:
from sklearn.model_selection import train_test_split

In [103]:
#test columns
X=df_dummies.drop('Salary_Average in $', axis=1)
y=df['Salary_Average in $'].values

#train set, test set
#test_size=0.2 (= 80% in train set, 20% in test set)
X_train, X_test, y_train, y_test = train_test_split(
X, y, test_size=0.3)

In [104]:
df['Salary_Average in $']

0      23328.63
1      62230.00
2      38100.00
3      59055.00
4      73025.00
         ...
206    63500.00
207    76200.00
208    69850.00
209    85725.00
210    79375.00
Name: Salary_Average in $, Length: 207, dtype: float64

## Feature Evaluation

In [105]:
X_sm= X = sm.add_constant(X)
model=sm.OLS(y,X_sm)
model.fit().summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.688
Model:                            OLS   Adj. R-squared:                  0.316
Method:                 Least Squares   F-statistic:                     1.849
Date:                Mon, 22 Jun 2020   Prob (F-statistic):            0.00117
Time:                        19:44:59   Log-Likelihood:                -2366.5
No. Observations:                 207   AIC:                             4959.
Df Residuals:                      94   BIC:                             5336.
Df Model:                         112
Covariance Type:            nonrobust
=====================================================================================================================================
                                                                        coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------------------------------------------------------------
const                                                              7.794e+04   4.94e+04      1.578      0.118   -2.01e+04    1.76e+05
Python_Skills                                                     -7129.4176   8190.837     -0.870      0.386   -2.34e+04    9133.681
Java_Skills                                                       -5322.3012   9524.701     -0.559      0.578   -2.42e+04    1.36e+04
SQL_Skills                                                        -2681.3050      1e+04     -0.268      0.790   -2.26e+04    1.72e+04
Matlab_Skills                                                      1.308e-10   4.69e+04   2.79e-15      1.000    -9.3e+04     9.3e+04
Tensorflow_Skills                                                 -2.998e+04   1.47e+04     -2.038      0.044   -5.92e+04    -773.781
NLP_Skills                                                         1.635e+04   1.26e+04      1.302      0.196   -8578.165    4.13e+04
C++_Skills                                                         2.595e+04   1.27e+04      2.037      0.044     651.454    5.13e+04
R_Skills                                                          -3.153e+04   1.94e+04     -1.629      0.107      -7e+04    6912.438
Spark_Skills                                                       1916.8298   1.05e+04      0.183      0.855   -1.89e+04    2.27e+04
Location_Berkshire                                                 4.307e+04   8.25e+04      0.522      0.603   -1.21e+05    2.07e+05
Location_Birmingham                                               -6535.1233   3.45e+04     -0.190      0.850    -7.5e+04    6.19e+04
Location_Bolton                                                   -3180.2266   2.67e+04     -0.119      0.905   -5.62e+04    4.98e+04
Location_Bradford                                                 -1.516e+04   2.97e+04     -0.510      0.611   -7.42e+04    4.39e+04
Location_Bristol                                                   -1.85e+04   4.31e+04     -0.429      0.669   -1.04e+05    6.72e+04
Location_Cambridge                                                 1.331e+04   3.55e+04      0.374      0.709   -5.72e+04    8.39e+04
Location_Cannock                                                  -1.294e+04   2.97e+04     -0.435      0.665    -7.2e+04    4.61e+04
Location_Derby                                                     -1.37e+04    2.9e+04     -0.472      0.638   -7.13e+04    4.39e+04
Location_Desborough                                                -1.54e+04   2.52e+04     -0.610      0.543   -6.55e+04    3.47e+04
Location_Didcot                                                   -3.071e+04   2.73e+04     -1.124      0.264    -8.5e+04    2.36e+04
Location_Fareham                                                  -2.337e+04   3.11e+04     -0.751      0.455   -8.52e+04    3.84e+04
Location_Farnborough                                              -1.626e+04    4.4e+04     -0.370      0.712   -1.04e+05     7.1e+04
Location_Gloucestershire                                           1.423e+04   2.94e+04      0.484      0.629   -4.41e+04    7.25e+04
Location_Greater                                                   4034.1759   2.96e+04      0.136      0.892   -5.47e+04    6.27e+04
Location_Guildford                                                  -44.3823   2.65e+04     -0.002      0.999   -5.27e+04    5.26e+04
Location_Hemel                                                    -6004.6735   2.85e+04     -0.211      0.833   -6.26e+04    5.05e+04
Location_Ipswich                                                  -1.064e+04   3.02e+04     -0.353      0.725   -7.05e+04    4.93e+04
Location_Leatherhead                                               1.373e+04   4.78e+04      0.287      0.775   -8.12e+04    1.09e+05
Location_Leeds                                                    -1.906e+04   4.96e+04     -0.384      0.702   -1.18e+05    7.95e+04
Location_Leicester                                                -3.798e+04   3.11e+04     -1.220      0.226   -9.98e+04    2.38e+04
Location_Lichfield                                                -2.202e+04   2.86e+04     -0.771      0.443   -7.87e+04    3.47e+04
Location_London                                                    3.026e+04   3.54e+04      0.854      0.396   -4.01e+04    1.01e+05
Location_Loughborough                                             -1.738e+04   3.79e+04     -0.459      0.647   -9.26e+04    5.78e+04
Location_Malvern                                                  -3.732e+04   6.62e+04     -0.564      0.574   -1.69e+05    9.41e+04
Location_Manchester                                                3980.3365   3.32e+04      0.120      0.905   -6.19e+04    6.99e+04
Location_North                                                    -1.611e+04   2.97e+04     -0.542      0.589   -7.52e+04    4.29e+04
Location_Norwich                                                   1938.1587   3.52e+04      0.055      0.956    -6.8e+04    7.19e+04
Location_Nottingham                                               -1.377e+04   2.97e+04     -0.463      0.645   -7.28e+04    4.53e+04
Location_Oxford                                                     2.77e+04   4.48e+04      0.619      0.538   -6.12e+04    1.17e+05
Location_Oxfordshire                                               1750.4114   6.55e+04      0.027      0.979   -1.28e+05    1.32e+05
Location_Portsmouth                                                8.607e+04   5.72e+04      1.504      0.136   -2.76e+04       2e+05
Location_Reading                                                   5515.8578   6.24e+04      0.088      0.930   -1.18e+05    1.29e+05
Location_Redruth                                                  -2.455e+04   2.97e+04     -0.825      0.411   -8.36e+04    3.45e+04
Location_Reigate                                                   2.803e+04   4.57e+04      0.614      0.541   -6.26e+04    1.19e+05
Location_Retford                                                  -1364.2478   2.68e+04     -0.051      0.959   -5.45e+04    5.18e+04
Location_Salford                                                  -2.465e+04   3.02e+04     -0.815      0.417   -8.47e+04    3.54e+04
Location_Salisbury                                                -2.259e+04   3.48e+04     -0.649      0.518   -9.16e+04    4.65e+04
Location_Sheffield                                                -6101.7188   4.88e+04     -0.125      0.901   -1.03e+05    9.08e+04
Location_Sidcup                                                   -1.865e+04   2.97e+04     -0.627      0.532   -7.77e+04    4.04e+04
Location_Slough                                                    2.523e+04   3.02e+04      0.836      0.405   -3.47e+04    8.51e+04
Location_Southampton                                              -2.731e+04   2.97e+04     -0.918      0.361   -8.64e+04    3.17e+04
Location_Stevenage                                                -6507.4569   2.86e+04     -0.227      0.821   -6.34e+04    5.04e+04
Location_Stratford-upon-Avon                                      -5633.6854   2.97e+04     -0.189      0.850   -6.47e+04    5.34e+04
Location_Surrey                                                   -1.001e+04   2.91e+04     -0.343      0.732   -6.79e+04    4.79e+04
Location_Uckfield                                                  -3.29e+04   3.11e+04     -1.057      0.293   -9.47e+04    2.89e+04
Location_Welwyn                                                    5607.8631   2.69e+04      0.209      0.835   -4.78e+04     5.9e+04
Location_West                                                      3.454e+04   4.56e+04      0.758      0.450    -5.6e+04    1.25e+05
Location_Wymondham                                                -1.357e+04   2.97e+04     -0.456      0.649   -7.26e+04    4.55e+04
Location_York                                                     -2.459e+04   4.45e+04     -0.553      0.582   -1.13e+05    6.38e+04
Company_name_ADR Markets                                          -1.079e+04   4.73e+04     -0.228      0.820   -1.05e+05    8.32e+04
Company_name_AVS Info systems limited                             -2.262e+04   6.96e+04     -0.325      0.746   -1.61e+05    1.16e+05
Company_name_Acciva Technosoft LTD                                -1.865e+04   2.97e+04     -0.627      0.532   -7.77e+04    4.04e+04
Company_name_Amazing Prospects Ltd                                 -2.89e+04   3.71e+04     -0.780      0.438   -1.02e+05    4.47e+04
Company_name_Ampersand Consulting                                   2.43e+04   3.38e+04      0.720      0.473   -4.27e+04    9.13e+04
Company_name_Argo Recruitment Services Limited                    -2.189e+04    4.5e+04     -0.486      0.628   -1.11e+05    6.75e+04
Company_name_Austin Fraser                                        -4520.4810   7.03e+04     -0.064      0.949   -1.44e+05    1.35e+05
Company_name_Awaken Intelligence Limited                          -1.064e+04   3.02e+04     -0.353      0.725   -7.05e+04    4.93e+04
Company_name_Bangura Solutions                                     1.563e+04   4.62e+04      0.338      0.736   -7.61e+04    1.07e+05
Company_name_Bluefruit Software                                   -2.455e+04   2.97e+04     -0.825      0.411   -8.36e+04    3.45e+04
Company_name_Bonfire Manufacturing Recruitment                    -1.516e+04   2.97e+04     -0.510      0.611   -7.42e+04    4.39e+04
Company_name_Brite Recruitment                                     2926.5160   4.62e+04      0.063      0.950   -8.88e+04    9.46e+04
Company_name_CTRL Recruitment Group                               -2.694e+04    4.7e+04     -0.573      0.568    -1.2e+05    6.64e+04
Company_name_Capita IT Resourcing                                 -2.463e+04   4.03e+04     -0.611      0.543   -1.05e+05    5.55e+04
Company_name_Cerebrum Matter                                      -1.738e+04   3.79e+04     -0.459      0.647   -9.26e+04    5.78e+04
Company_name_Claremont Consulting                                 -3.909e+04   4.52e+04     -0.864      0.390   -1.29e+05    5.07e+04
Company_name_Client Server                                        -1.996e+04   3.43e+04     -0.581      0.563   -8.82e+04    4.82e+04
Company_name_Consilium Recruit                                    -5.929e+04   5.42e+04     -1.094      0.277   -1.67e+05    4.84e+04
Company_name_Consortia                                              3.36e+04   3.64e+04      0.924      0.358   -3.86e+04    1.06e+05
Company_name_Cyberlens Ltd.                                       -3.481e+04   4.11e+04     -0.847      0.399   -1.16e+05    4.68e+04
Company_name_Drone Defence                                        -1364.2478   2.68e+04     -0.051      0.959   -5.45e+04    5.18e+04
Company_name_Eligo Recruitment Ltd                                 1.329e+04   2.35e+04      0.565      0.574   -3.34e+04       6e+04
Company_name_Employment Solutions                                 -8877.0573   5.85e+04     -0.152      0.880   -1.25e+05    1.07e+05
Company_name_First Recruitment Services                            -3.29e+04   3.11e+04     -1.057      0.293   -9.47e+04    2.89e+04
Company_name_GCS Recruitment Specialists Ltd                        1.25e+04   3.35e+04      0.373      0.710    -5.4e+04     7.9e+04
Company_name_Gear4music Tech                                       -894.1012   3.09e+04     -0.029      0.977   -6.23e+04    6.05e+04
Company_name_Harnham                                               4907.8939   3.29e+04      0.149      0.882   -6.03e+04    7.01e+04
Company_name_Hawkwood Partners                                    -5.422e+04   4.62e+04     -1.174      0.243   -1.46e+05    3.75e+04
Company_name_Head Resourcing Limited                               8475.7629   3.94e+04      0.215      0.830   -6.98e+04    8.68e+04
Company_name_IC Resources                                         -1.344e+04   3.85e+04     -0.349      0.728      -9e+04    6.31e+04
Company_name_In 2 Consult                                         -3917.1790   4.68e+04     -0.084      0.933   -9.68e+04     8.9e+04
Company_name_Inspiring Interns                                    -6.657e+04   3.64e+04     -1.827      0.071   -1.39e+05    5761.906
Company_name_Jenrick Group                                         -2.19e+04   3.56e+04     -0.615      0.540   -9.26e+04    4.88e+04
Company_name_Langham Recruitment                                   5102.4943   2.91e+04      0.175      0.861   -5.26e+04    6.28e+04
Company_name_Linux Recruit                                        -1990.6520   3.09e+04     -0.064      0.949   -6.34e+04    5.94e+04
Company_name_MARIONETE Limited                                    -1.296e+04   5.13e+04     -0.253      0.801   -1.15e+05     8.9e+04
Company_name_MPEC                                                  -1.37e+04    2.9e+04     -0.472      0.638   -7.13e+04    4.39e+04
Company_name_Manchester Metropolitan University                    -2.82e+04    3.6e+04     -0.783      0.435   -9.97e+04    4.33e+04
Company_name_Migacore Technologies                                -4.959e+04   3.69e+04     -1.342      0.183   -1.23e+05    2.38e+04
Company_name_Noir Consulting                                       5607.8631   2.69e+04      0.209      0.835   -4.78e+04     5.9e+04
Company_name_Northpoint Recruitment                               -2.337e+04   3.11e+04     -0.751      0.455   -8.52e+04    3.84e+04
Company_name_Nucleome Therapeutics Ltd                            -9474.8544   5.42e+04     -0.175      0.862   -1.17e+05    9.82e+04
Company_name_Oho Group                                              -2.2e+04   3.33e+04     -0.662      0.510    -8.8e+04     4.4e+04
Company_name_Open Spaces Ltd.                                      2.523e+04   3.02e+04      0.836      0.405   -3.47e+04    8.51e+04
Company_name_Oscar Technology                                     -2.076e+04   4.77e+04     -0.435      0.664   -1.15e+05    7.39e+04
Company_name_PSI Technical                                        -1.357e+04   2.97e+04     -0.456      0.649   -7.26e+04    4.55e+04
Company_name_Pearson Frank                                         -1.97e+04   3.95e+04     -0.499      0.619    -9.8e+04    5.86e+04
Company_name_Primaire Consulting Ltd                              -3.798e+04   3.11e+04     -1.220      0.226   -9.98e+04    2.38e+04
Company_name_Proactive.IT Appointments                             1.404e+04   4.62e+04      0.304      0.762   -7.77e+04    1.06e+05
Company_name_Professional Technical Recruitment                   -5633.6854   2.97e+04     -0.189      0.850   -6.47e+04    5.34e+04
Company_name_Propeller-tech                                        4.244e+04   4.48e+04      0.947      0.346   -4.65e+04    1.31e+05
Company_name_QinetiQ                                              -3.885e+04   3.91e+04     -0.995      0.322   -1.16e+05    3.87e+04
Company_name_RedTech Recruitment                                   -6.03e+04   4.72e+04     -1.279      0.204   -1.54e+05    3.33e+04
Company_name_Richard Wheeler Associates                           -8229.5912   4.82e+04     -0.171      0.865   -1.04e+05    8.76e+04
Company_name_SS WEB TECHNOLOGIES LTD                               3868.3653    5.8e+04      0.067      0.947   -1.11e+05    1.19e+05
Company_name_STFC                                                 -3.071e+04   2.73e+04     -1.124      0.264    -8.5e+04    2.36e+04
Company_name_Salt Recruitment                                      4034.1759   2.96e+04      0.136      0.892   -5.47e+04    6.27e+04
Company_name_Sanderson Recruitment Plc                            -1.042e+04   3.59e+04     -0.290      0.772   -8.17e+04    6.09e+04
Company_name_Seamless ML                                           1.183e+05    4.7e+04      2.515      0.014    2.49e+04    2.12e+05
Company_name_Securium LTD                                         -1.001e+04   2.91e+04     -0.343      0.732   -6.79e+04    4.79e+04
Company_name_Sentinel                                              1.147e+04   4.54e+04      0.253      0.801   -7.86e+04    1.02e+05
Company_name_ShareForce                                           -1.733e+04   3.87e+04     -0.448      0.655   -9.42e+04    5.95e+04
Company_name_SoCode                                                4.322e+04   4.54e+04      0.952      0.343   -4.69e+04    1.33e+05
Company_name_Spectrum IT                                            -44.3823   2.65e+04     -0.002      0.999   -5.27e+04    5.26e+04
Company_name_Spring                                               -1.294e+04   2.97e+04     -0.435      0.665    -7.2e+04    4.61e+04
Company_name_Synaptek                                             -1.983e+04   2.81e+04     -0.707      0.482   -7.55e+04    3.59e+04
Company_name_TEC Partners                                         -3164.3356   3.04e+04     -0.104      0.917   -6.36e+04    5.73e+04
Company_name_Techire                                               1.853e+04   4.73e+04      0.392      0.696   -7.54e+04    1.12e+05
Company_name_Technique Recruitment Solutions                      -1.611e+04   2.97e+04     -0.542      0.589   -7.52e+04    4.29e+04
Company_name_Thornhvac                                            -4.224e+04   4.76e+04     -0.888      0.377   -1.37e+05    5.22e+04
Company_name_Trust In Soda                                        -1.535e+04   4.03e+04     -0.381      0.704   -9.54e+04    6.47e+04
Company_name_UK Government - Driver and Vehicle Standards Agency  -1.377e+04   2.97e+04     -0.463      0.645   -7.28e+04    4.53e+04
Company_name_Understanding Recruitment                            -7342.8702   3.43e+04     -0.214      0.831   -7.54e+04    6.07e+04
Company_name_Unitemps                                             -2.202e+04   2.86e+04     -0.771      0.443   -7.87e+04    3.47e+04
Company_name_University Hospital Southampton NHS Foundation Trust -2.731e+04   2.97e+04     -0.918      0.361   -8.64e+04    3.17e+04
Company_name_Venturi                                                4.14e+04   3.45e+04      1.200      0.233   -2.71e+04     1.1e+05
Company_name_WCKD RZR                                             -4.414e+04   3.82e+04     -1.154      0.251    -1.2e+05    3.18e+04
Company_name_We Are Thyme Limited                                 -1.217e+04   4.57e+04     -0.266      0.791   -1.03e+05    7.86e+04
Company_name_Zebra Technical Recruitment                          -2292.3369   6.44e+04     -0.036      0.972    -1.3e+05    1.26e+05
Company_name_ao.com                                               -3180.2266   2.67e+04     -0.119      0.905   -5.62e+04    4.98e+04
Company_name_articulate.xyz                                       -6004.6735   2.85e+04     -0.211      0.833   -6.26e+04    5.05e+04